:root {
  --header-color: red;
  --menu-color: green;
  --main-color: blue;
  --footer-color: purple;
  --list-bg-color: #ffffff;
  --menu-item-color: rgb(38, 0, 255);
  --menu-item-hover-color: #ff0000;
  --text-color: rgb(0, 0, 0);
}

body {
  background-color: var(--list-bg-color);
  display: grid;
  color: var(--text-color);
  grid-template: 120px auto 100px / 150px auto;
  grid-template-areas:
    "header header header"
    "menu main main"
    "footer footer footer";
  height: 100vh;
  margin: 0;
  overflow: auto;
  font-family: "Roboto", sans-serif;
}

body > * {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header,
.menu,
.main,
.footer {
  position: sticky;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  grid-area: menu;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main {
  grid-area: main;
  right: 0;
  top: 0;
}

.footer {
  grid-area: footer;
  bottom: 0;
}

.logo {
  height: 100px;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--list-bg-color);
}

li {
  float: left;
}

.menu-item {
  display: block;
  color: var(--menu-item-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.5s ease;
}

.menu-item:hover {
  color: var(--menu-item-hover-color);
}

.logo_container {
  order: 1;
  width: 300px;
}

.menu_sup {
  order: 2;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu_sup ul {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.menu_sup ul li {
  margin: 0 10px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
  transition: all 0.5s ease;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-size: 15px;
}

.menu ul li:hover {
  transform: scale(1.2);
}

.menu ul li a:hover {
  color: #ff6347;
}
.caja {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imagen {
  width: 30%;
  text-align: center;
}

.imagen img {
  width: 100%;
  height: auto;
}

.imagen p {
  margin-top: 10px;
}
.caja .imagen img {
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
  transform: scale(1);
}

.caja .imagen img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}
